* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 95%;
}

.flex-container {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
}

.flex-box {
  // padding: 1rem 0;
  //background-color: yellow;
  display: flex;
  width: 100%;
  height: 100%;
}

.flex-column {
  flex-direction: column;
}

// .sticky {
//   background-color: red;
//   position: -webkit-sticky;
//   position: fixed;
//   // margin-bottom: 4rem;
//   // top: 0;
// }

.center {
  align-items: center;
  justify-content: center;
}

.center-y {
  justify-content: center;
}

.center-x {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-elements-y--1 * {
  margin: 1rem 0;
}

.m-y--1 {
  margin: 1rem 0;
}

.m-t--2 {
  margin-top: 2rem;
}

.space-elements-x--1 * {
  margin: 0 1rem;
}

.bg-secondary {
  background-color: $secondary;
}

a {
  color: inherit;
  text-decoration: inherit;
}
