.navbar {
  background-color: white;
  align-items: center;
  box-shadow: 0 1px 6px gray;
  display: flex;
  height: 4.5rem;
  // padding: 1rem;
  // margin-bottom: 1rem;
  width: 100vw;
  z-index: 2;
}

.navbar--fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar__user {
  ul {
    display: flex;
    list-style-type: none;
  }
}

.navbar--center {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -1;
}

.logout {
  cursor: pointer;
}
