.navbar {
  background-color: white;
  align-items: center;
  box-shadow: 0 1px 6px gray;
  display: flex;
  height: 4.5rem;
  padding: 1rem;
  width: 100%;
}

.navbar--fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
