.login-box {
  background-color: rgb(248, 248, 248);
  border: 1px groove rgb(207, 207, 207);
  border-radius: 5px;
  min-height: 420px;
  height: 60%;
  max-width: 480px;
  padding: 3rem;
  text-align: center;
}

.login-box__header {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(23, 117, 172);
}

.login-box__body {
  display: flex;
  margin: 1rem 0;
  height: 80%;
}

.login-box__buttonArea * {
  margin-top: 0.5rem;
  width: 100%;
}

@media (max-height: 750px) {
  .login-box__buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .login-box__buttonArea__item {
    width: 45%;
  }
}
