.sidebar {
  height: 100%;
  width: 300px;
  background-color: #2f4050;
}

.sidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebarList #active {
  background-color: #293846;
}

.sidebarList .row {
  color: white;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  height: 3.5rem;
  margin: 0;
  list-style-type: none;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title {
  flex: 70%;
}
