* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

/* Styling scrollbar */
::-webkit-scrollbar {
  width: 0.5rem; // y scroll
  height: 0.5rem; // x scroll
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px blue;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.WorkoutsApp {
  height: 100vh;
  width: 100vw;
}
