$secondary: rgb(49, 40, 37);

/* Modal sizes */
// Modal sm (small)
$modal-sm-width: 600px;
$modal-sm-height: 500px;

// Modal md (medium, variant 1)
$modal-md-width: 900px;
$modal-md-height: 700px;

// Modal md (medium, variant 1)
$modal-md2-width: 700px;
$modal-md2-height: 900px;
